{% extends "layout.html" %}
{% block body %}
<div class="container d-flex  justify-content-center">
    <div class="row align-items-center" style="min-height: 100vh">
        <div class="col-md-12">
            <div class="alert alert-danger text-center" role="alert">
                <h4 class="alert-heading">404 Not Found</h4>
                <p>The requested URL was not found on the server. If you entered the URL manually please check your
                    spelling and try again.</p>
                <hr>
                <p class="mb-0">If you think this is a server error, please contact the webmaster.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
